[user]
  name = {{ dotfiles_git_user_name }}
  email = {{ dotfiles_git_user_email }}
[push]
  default = simple
[core]
  ignorecase = true
  excludesfile = ~/.gitignore
[filter "lfs"]
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true
